[Unit]
Description={{ project_name }} {% if use_channels %}Daphne{% else %}Gunicorn{% endif %} Service
After=network.target

[Service]
Type=notify
{% raw %}
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}
{% endraw %}
{% if dependency_manager == 'uv' -%}
Environment="PATH={% raw %}{{ app_user_home }}{% endraw %}/.cargo/bin:/usr/bin:/bin"
{% if use_channels -%}
ExecStart={% raw %}{{ app_user_home }}{% endraw %}/.cargo/bin/uv run daphne -b 127.0.0.1 -p 8000 config.asgi:application
{% else -%}
ExecStart={% raw %}{{ app_user_home }}{% endraw %}/.cargo/bin/uv run gunicorn config.wsgi:application --bind 127.0.0.1:8000 --workers 4
{% endif -%}
{% else -%}
Environment="PATH={% raw %}{{ app_user_home }}{% endraw %}/.local/bin:{% raw %}{{ app_dir }}{% endraw %}/.venv/bin:/usr/bin:/bin"
{% if use_channels -%}
ExecStart={% raw %}{{ app_user_home }}{% endraw %}/.local/bin/poetry run daphne -b 127.0.0.1 -p 8000 config.asgi:application
{% else -%}
ExecStart={% raw %}{{ app_user_home }}{% endraw %}/.local/bin/poetry run gunicorn config.wsgi:application --bind 127.0.0.1:8000 --workers 4
{% endif -%}
{% endif -%}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
