apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml
  - secret.yaml
  - postgresql-cluster.yaml
{% if cache == 'redis' or background_tasks in ['celery', 'both'] %}
  - redis.yaml
{% endif %}
{% if background_tasks in ['celery', 'both'] %}
  - celery-worker.yaml
{% endif %}

images:
  - name: {{ project_slug | replace("_", "-") }}
    newName: {{ project_slug | replace("_", "-") }}
    newTag: latest
