export const metadata = {
  title: "{{ project_name }}",
  description: "{{ project_description }}",
};

export default function RootLayout({ children }) {
  return (
    <html lang="en">
      <body>{children}</body>
    </html>
  );
}
